header {
  margin: 0;
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999999999;
  border-bottom: 1px solid #384135;
  background-color: #031503;
  background-image: url("/media/images/camo.png");
  @media screen and (max-width: 850px) {
    &.is-active {
      nav {
        transform: translateX(0);
      }
    }
    .menu {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 20px;
      cursor: pointer;
      span {
        display: flex;
        height: 1px;
        width: 30px;
        position: relative;
        background: #fff;
        &::after,
        &::before {
          content: "";
          position: absolute;
          width: 30px;
          height: 1px;
          background: #fff;
        }
        &::after {
          top: -8px;
        }
        &::before {
          top: 8px;
        }
      }
    }
  }
  img {
    max-width: 50px;
    width: 100%;
    margin-left: 30px;
  }
  nav {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-right: 30px;
    @media screen and (max-width: 850px) {
      position: fixed;
      top: 65px;
      z-index: 99999999999999;
      background: #0c140bbd;
      padding: 40px 20px 20px 20px;
      left: 0;
      right: 0;
      width: 100%;
      backdrop-filter: blur(24px);
      border-top: 1px solid #103e11;
      flex-direction: column;
      height: 100vh;
      gap: 20px;
      align-items: start;
      transform: translateX(-105%);
      transition: transform 0.1s ease-in-out;
    }
    a {
      color: #fff;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      transition: color 0.1s ease-in-out;
      &:hover {
        color: rgb(30, 255, 0);
      }
    }
  }
}
